<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="mySession">
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.password">root123</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/survey_mgmt2?useSSL=false</property>
  <property name="hibernate.connection.username">root</property>
  <!-- 		
		<property name="hibernate.connection.password">BPBg9s.9</property>
		<property name="hibernate.connection.url">jdbc:mysql://35.227.126.183:3306/survey_mgmt?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
 -->
  <property name="hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.bps.persistence.tables.User"/>
  <mapping class="com.bps.persistence.tables.LifeCycle"/>
  <mapping class="com.bps.persistence.tables.Role"/>
  <mapping class="com.bps.persistence.tables.UserRole"/>
  <mapping class="com.bps.persistence.tables.Survey"/>
  <mapping class="com.bps.persistence.tables.Question"/>
  <mapping class="com.bps.persistence.tables.QuestionOption"/>
  <mapping class="com.bps.persistence.tables.SurveyClientUserLink"/>
  <mapping class="com.bps.persistence.tables.SurveyResponse"/>
 </session-factory>
</hibernate-configuration>
