<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login | Survey Management</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="../Test/css/bootstrap.min.css" rel="stylesheet">
	<link href="/Test/css/signin.css" rel="stylesheet">
	<script src="../Test/js/vendor/jquery-slim.min.js"></script>
	<script src="../Test/js/vendor/popper.min.js"></script>
	<script src="../Test/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
			<a class="navbar-brand" href="#">Survey Management</a>
			<button class="navbar-toggler d-lg-none" type="button"
				data-toggle="collapse" data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</header>
	<div class="container">
		<form class="form-signin" action="/Test/home" method="post">
			<h2 class="form-signin-heading">Please Sign In</h2>
			<label for="inputEmail" class="sr-only">Email address</label> <input
				type="text" name="email" id="inputEmail" class="form-control"
				placeholder="Email address" required autofocus> <label
				for="inputPassword" class="sr-only">Password</label> <input
				type="password" name="password" id="inputPassword"
				class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>

	</div>

</body>
</html>